# Ignore system/macOS junk files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Ignore everything
*

# But keep these files
!README.md
!detection.ipynb
!real_time_inference.ipynb
!Pipfile
!Pipfile.lock
!cube.png
!output.png
!output1.png
!roc_curve.png
!mobilenetv2_cube_model.keras

# Keep the .gitignore itself
!.gitignore
