# Ignore everything
*

# But keep these files
!README.md
!detection.ipynb
!real_time_inference.ipynb
!Pipfile
!Pipfile.lock
!result.png
!cube.png
!output.png
!output1.png
!roc_curve.png
!mobilenetv2_cube_model.keras

# Keep the .gitignore itself
!.gitignore
